.ta-input {
  height: 3rem;
  border-radius: 1.5rem;
  border: solid 0.1rem black;
  padding: 0 1rem;
  font-size: 1.8rem;

  &__container {
    display: inline-block;
    position: relative;
  }

  &__icon {
    display: none;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    font-size: 2rem;

    &:hover {
      cursor: pointer;
    }
  }

}