.ta-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: solid 0.1rem black;

  .ta-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;

    &__image {
      width: 4rem;
      height: 4rem;
      margin-right: 2rem;
    }

    &__text {
      text-decoration: none;
    }
  }

  &__label {
    font-size: 1.5rem;
    margin-right: 2rem;
  }

}